{% include 'templates/parts/header.twig' %}

<div class="main-container">
	<div class="main-grid">
		<main class="main-content">
			<article>
				<header>
					<h1 class="entry-title">{{ _e( 'File Not Found', 'foundationpress' ) }}</h1>
				</header>
				<div class="entry-content">
					<div class="error">
						<p class="bottom">{{ _e( 'The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.', 'foundationpress' ) }}</p>
					</div>
					<p>{{ _e( 'Please try the following:', 'foundationpress' ) }}</p>
					<ul>
						<li>
							{{ _e( 'Check your spelling', 'foundationpress' ) }}
						</li>
						<li>
							{{ _e( 'Return to homepage', 'foundationpress' ) }}
						</li>
						<li>
							{{ _e( 'Click the <a href="javascript:history.back()">Back</a> button', 'foundationpress' ) }}
						</li>
					</ul>
				</div>
			</article>
		</main>
		{{ function('get_sidebar') }}
	</div>
</div>
{% include 'templates/parts/footer.twig' %}